.tornado {
    background-color: #eee;
    box-sizing: border-box;
    margin-bottom: 0;
}

.container {
    height: 79%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.friend {
    position: relative;
    width: 100%;
    height: 10.6%;
    border-bottom: #bbb 1px solid;
}

.friend > a {
    display: flex;
    height: 100%;
    text-decoration: none;
}

a:any-link {
    text-decoration: none;
    color: #000;
}

.picture_film {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 12px;
}

.picture_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    aspect-ratio: 1 / 1;
    background-color: #bbb;
    border-radius: 100%;
    overflow: hidden;
}

.profile_picture {
    height: 100%;
}

.username {
    font-size: 19px;
    margin: 8px 0 0 3px;
}

.lm_info {
    display: flex;
    color: #777;
}

.lm  {
    width: 235px;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 5px;
    margin-left: 3px;
    margin-top: 10px;
}

.lm_time {
    position: absolute;
    right: 0;
    font-size: 11px;
    padding-right: 15px;
    padding-top: 5px;
}

.footer {
    width: 100%;
    height: 8%;
    background-color: #eee;
}

.footer_film {
    height: 100%;
    display: flex;
}

.footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer_container > div {
    width: 32px;
}

.rr {
    display: flex;
    justify-content: center;
    width: 32px;
}

.rv {
    align-items: center;
    height: 24px;
}

.searching_box {
    width: 100%;
    height: 5%;
    background-color: #ccc;
}

.form {
    width: 100%;
    height: 100%;
}

.form_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ad {
    padding: 0 6px 0 12px;
}

input {
    width: 55%;
    height: 60%;
    padding: 0 10px;
    border-radius: 15px;
    border-color: #646464;
    border-style: solid
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 14.5px;
}

button {
    color: #646464;
    background-color: #ccc;
    border: #646464 2px solid;
    border-radius: 14px;
    padding: 3px 10px;
}

.highlighted_user {
    display: flex;
    align-items: end;
    width: 280px;
}

.highlight1 {
    background-color: #0ff;
}

.highlight2 {
    background-color: #9ff;
}