{% extends "myapp/index.html" %}

{% load static %}

{% block title %}friends{% endblock title %}

{% block css %}"{% static "myapp/css/spc.css" %}"{% endblock css %}

{% block header %}パスワードリセット{% endblock header %}

{% block contents %}
{% if token_fail %}
<div style="display: block; width: 90%; margin: 40px auto 0;">
    <div>The password reset link was invalid, possibly because it has already been used.</div>
    <a href="{% url "account_reset_password" %}"><div>Reapply</div></a>
    <style>
        .tornado {
            box-sizing: unset;
        }

        a {
            display: flex;
            justify-content: center;
            color: black;
            text-decoration: none;
        }
        
        a > div {
            padding: 8px 24px;
            border: #bbb 2px solid;
            border-radius: 12px;
            margin: 20px 0;
        }
    </style>
</div>
{% else %}
<form method="post" action="{{ action_url }}">
    {% csrf_token %}
    <div class="form-group">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
    </div>
    <div class="form-group sp">
        <label for="{{ form.password1.id_for_label }}">New password<br>confirmation:</label>
        {{ form.password2 }}
    </div>
    <button type="submit">変更</button>
    <div>
        {% for field in form %}
        {{ field.errors }}
        {% endfor %}
    </div>
</form>
{% endif %}
{% endblock contents %}