{% extends "myapp/index.html" %}

{% load static %}

{% block title %}friends{% endblock title %}

{% block css %}"{% static "" %}"{% endblock css %}

{% block header %}{% endblock header %}

{% block contents %}
<div style="display: block; width: 90%; margin: 0 auto;">
    <div><h1>Password change completed</h1></div>
    <div class="t">
        <div>Your password is now changed.</div>
        <div><a href="{% url "account_login" %}"><div>ログイン</div></a></div>
    </div>
    <style>
        a {
            display: flex;
            justify-content: center;
            color: black;
            text-decoration: none;
        }
        
        a > div {
            padding: 8px 24px;
            border: #bbb 2px solid;
            border-radius: 12px;
            margin: 20px 0;
        }
    </style>
</div>
<style>.t div { margin: 12px 0; }</style>
{% endblock contents %}