{% extends "myapp/index.html" %}

{% load static %}

{% block title %}signup{% endblock title %}

{% block css %}"{% static "myapp/css/signup.css" %}"{% endblock css %}

{% block header %}会員登録{% endblock header %}

{% block contents %}
<form method="post" enctype="multipart/form-data" action="{% url "account_signup" %}">
    {% csrf_token %}
    <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>
    <div class="form-group sp">
        <label for="{{ form.email.id_for_label }}">Email<br>address:</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
    </div>
    <div class="form-group sp">
        <label for="{{ form.password2.id_for_label }}">Password<br>confirmation:</label>
        {{ form.password2 }}
    </div>
    <div class="form-group pp">
        <label for="{{ form.profile_picture.id_for_label }}">Img:</label>
        {{ form.profile_picture }}
    </div>
    <button type="submit">Submit</button>
    <div>
        {% for field in form %}
        {{ field.errors }}
        {% endfor %}
        {{ form.non_field_errors }}
    </div>
</form>
{% endblock contents %}