{% extends "myapp/index.html" %}

{% load static %}

{% block title %}friends{% endblock title %}

{% block css %}"{% static "myapp/css/friends.css" %}"{% endblock css %}

{% block redux %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">{% endblock redux %}

{% block header %}友達{% endblock header %}

{% block contents %}
<div class="searching_box">
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form_text">
            <i class="fa-solid fa-magnifying-glass fa-2xl ad" style="color: #646464;" id="search-icon"></i>
            {{ form.entered_text }}
            <button type="submit">検索</button>
        </div>
    </form>
</div>
<div class="container">
    {% for x, y, z in information_list %}
    <div class="friend">
        <a href="{% url 'talk_room' x.id %}">
            {% if x.profile_picture %}
                <div class="picture_film">
                    <div class="picture_container">
                        <img src="{{ x.profile_picture.url }}" alt="ps" class="profile_picture">
                    </div>
                </div>
            {% else %}
                <p>無いです。</p>
            {% endif %}
            <div>
                <div class="username">{{ x.get_username }}</div>
                <div class="lm_info"><div class="lm">{{ y }}</div><div class="lm_time">{{ z|date:"n/j"}}<br>{{ z|date:"G:i" }}</div></div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<div class="footer">
    <div class="footer_film">
        <div class="footer_container">
            <div>
                <a href="{% url "friends" %}">
                    <div class="rr"><img src="{% static "myapp/img/people-24px.svg" %}" alt="友達"></div>
                    <div>友達</div>
                </a>
            </div>
        </div>
        <div class="footer_container">
            <div>
                <a href="{% url "setting" %}">
                    <div class="rr rv"><img src="{% static "myapp/img/settings-black-18dp.svg" %}" alt="設定"></div>
                    <div>設定</div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}