{% extends "myapp/index.html" %}

{% load static %}
{% load custom_tag %}

{% block title %}friends{% endblock title %}

{% block css %}"{% static "myapp/css/friends.css" %}"{% endblock css %}

{% block redux %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">{% endblock redux %}

{% block header %}友達{% endblock header %}

{% block contents %}
<div class="searching_box">
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form_text">
            <i class="fa-solid fa-magnifying-glass fa-2xl ad" style="color: #646464;" id="search-icon"></i>
            {{ form.entered_text }}
            <button type="submit">検索</button>
        </div>
    </form>
</div>
<div class="container">
    {% for friend in friends %}
    <div class="friend">
        <a href="{% url 'talk_room' friend.id %}">
            {% if friend.profile_picture %}
                <div class="picture_film">
                    <div class="picture_container">
                        <img src="{{ friend.profile_picture.url }}" alt="ps" class="profile_picture">
                    </div>
                </div>
            {% else %}
                <div class="picture_film">
                    <div class="picture_container pc_js">
                        <div class="profile_picture"></div>
                    </div>
                </div>
            {% endif %}
            <div>
                <div class="username">
                {% if post_success %}
                {% autoescape off %}<div class="highlighted_user">{% add_class friend.username str "highlight1" %}</div>{% endautoescape %}
                {% else %}{{ friend.username }}{% endif %}
                </div>
                {% if post_success %}
                {% autoescape off %}<div class="lm" style="width: 280px; color: #777;">{% add_class friend.email str "highlight2" %}</div>{% endautoescape %}
                {% else  %}
                    {% if friend.latest_message %}
                    <div class="lm_info"><div class="lm">{{ friend.latest_message }}</div><div class="lm_time">{{ friend.latest_message_time|date:"n/j"}}<br>{{ friend.latest_message_time|date:"G:i" }}</div></div>
                    {% else %}{% endif %}
                {% endif %}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<div class="footer">
    <div class="footer_film">
        <div class="footer_container">
            <div>
                <a href="{% url "friends" %}">
                    <div class="rr"><img src="{% static "myapp/img/people-24px.svg" %}" alt="友達"></div>
                    <div>友達</div>
                </a>
            </div>
        </div>
        <div class="footer_container">
            <div>
                <a href="{% url "setting" %}">
                    <div class="rr rv"><img src="{% static "myapp/img/settings-black-18dp.svg" %}" alt="設定"></div>
                    <div>設定</div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}