{% extends "myapp/index.html" %}

{% load static %}

{% block title %}friends{% endblock title %}

{% block css %}"{% static "myapp/css/setting.css" %}"{% endblock css %}

{% block header %}{% endblock header %}

{% block contents %}
<div class="container">
    <div class="secret">Changes have been completed.</div>
</div>
<div class="footer">
    <div class="footer_film">
        <div class="footer_container">
            <div>
                <a href="{% url "friends" %}">
                    <div class="rr"><img src="{% static "myapp/img/people-24px.svg" %}" alt="友達"></div>
                    <div>友達</div>
                </a>
            </div>
        </div>
        <div class="footer_container">
            <div>
                <a href="{% url "setting" %}">
                    <div class="rr rv"><img src="{% static "myapp/img/settings-black-18dp.svg" %}" alt="設定"></div>
                    <div>設定</div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}