{% extends "myapp/index.html" %}

{% load static %}

{% block title %}friends{% endblock title %}

{% block css %}"{% static "myapp/css/sic.css" %}"{% endblock css %}

{% block header %}アイコン変更{% endblock header %}

{% block contents %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.profile_picture }}
        </div>
        <div class="current_icon_container">
            <div>
                <img src="{{ request.user.profile_picture.url }}" alt="current_icon">
                <div>your current icon</div>
            </div>
            <button type="submit">変更</button>
        </div>
        <div>
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}
        </div>
    </form>
</div>
<div class="footer">
    <div class="footer_film">
        <div class="footer_container">
            <div>
                <a href="{% url "friends" %}">
                    <div class="rr"><img src="{% static "myapp/img/people-24px.svg" %}" alt="友達"></div>
                    <div>友達</div>
                </a>
            </div>
        </div>
        <div class="footer_container">
            <div>
                <a href="{% url "setting" %}">
                    <div class="rr rv"><img src="{% static "myapp/img/settings-black-18dp.svg" %}" alt="設定"></div>
                    <div>設定</div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}